.container {
  margin: 0 20px;
}

.gridArea_users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.user {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}

.wrapper_descs {
  margin-bottom: 10px;
}

.button {
  background-color: #161a1f;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  color: #fff;
}

.inputArea {
  background-color: #fff;
  max-width: 20%;
  border-radius: 8px;
  height: 100%;
  margin-top: 5px;
}

label#label_pesquisar {
  display: block;
  margin-top: 10px;
}

.inputArea input {
  outline: none;
  color: #000;
  background-color: transparent;
  padding: 12px 10px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0.87rem;
}

.container_user {
  padding-top: 30px;
  margin-left: 20px;
}

.content_user {
  width: 30%;
}

.content_user ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.info_user {
  display: block;
  margin-bottom: 20px;
}

.info_user::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #fff;
  border-radius: 8px;
}
